YOUR STATUS UPDATE:

<%= notice %>

<p>
  Status:
  <%= @update.status %>
</p>

<p>
  User:
  <%= @update.user %>
</p>

<p>
  Likes:
  <%= @update.likes %>
</p>

  <%= link_to "Back", updates_path %>
